@model PersonAddRequest;

@{
    ViewBag.Title = "Create Person";
}

<a asp-controller="Persons" asp-action="Index" class="link-hover">Back to Persons list</a>

<div class="w-50">
    <form asp-controller="Persons" asp-action="Create" method="post">
        <div class="form-field flex">
            <div class="w-25">
                <label for="PersonName" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                <input asp-for=PersonName type="text" class="form-input" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for=Email type="email" class="form-input" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="DateOfBirth" class="form-label pt">Date Of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for=DateOfBirth type="date" class="form-input" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="Gender" class="form-label pt">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    var genders = Enum.GetNames(typeof(GenderOptions));
                }
                @foreach(string gender in genders)
                {                  
                    <input type="radio" asp-for="Gender" value=@gender class="ml" />
                    <label for=@gender>@gender</label>
                }
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="CountryId" class="form-label">Country</label>
            </div>
            <div class="flex-1">
                <select name="CountryId" id="CountryId" class="form-input">
                    <option value="">Please select</option>
                    @foreach(CountryResponse country in ViewBag.Countries)
                    {
                        <option value="@country.CountryId">@country.CountryName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="Address" class="form-label pt">Address</label>
            </div>
            <div class="flex-1">
                <textarea id="Address" asp-for=Address class="form-input"></textarea>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input type="checkbox" asp-for=ReceiveNewsLetters value="true" />
                <label for="ReceiveNewsLetters" class="form-label pt">ReceiveNewsLetters</label>
            </div>
        </div>

         <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Create</button>
                @if(ViewBag.Errors is not null)
                {
                    <ul>
                        @foreach(string error in ViewBag.Errors)
                        {
                            <li class="text-red">@error</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </form>
</div>
